#carousel {
    width: max-width;
    height: max-height;
    background-color: #36454f;
    padding-top: 90px;
}

.item,
.active {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    margin-top: 30px;
}

.inner-carousel {
    /* make sure your .items will get correct height */
    height: 100%;
  }

.carouselContainer {
    width: 100%;
    height: auto;
    /*border: 5px solid #0E0250;  */
}

.shadow {
    border: 5px solid whitesmoke;
    box-shadow: 10px 10px 5px #0E0250;
}

@media only screen and (max-width: 990px) {

    #carousel {
        width: 100%;
        height: max-height;
        background-color: #36454f;
        padding-top: 90px;
        float: none;
    }

}