<ngb-carousel #carousel id="carousel" class="carouselContainer">
<div class="inner-carousel">    
  <ng-template ngbSlide>
        <img src="../assets/images/calkyLogo.jpeg" alt="Random first slide" class="item shadow">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../assets/images/rockyMtns.jpeg" alt="Random second slide" class="active item shadow">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="../assets/images/nickMtns.jpeg" alt="Random third slide" class="item shadow">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
          <img src="../assets/images/groupPic.jpg" alt="Random third slide" class="item shadow">
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </ng-template>
</div>
</ngb-carousel>