<ngb-carousel #carousel id="carousel">
  <ng-template ngbSlide>
    <img src="../assets/images/calkyLogo.jpeg" alt="Random first slide" class="item">
    <div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/rockyMtns.jpeg" alt="Random second slide" class="active item">
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/nickMtns.jpeg" alt="Random third slide" class="item">
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
    </div>
  </ng-template>
</ngb-carousel>