<div class='container-fluid'>
  <div class='row'>
    <div class="col">
      <app-navigation></app-navigation>
    </div>
  </div>
  <div *ngIf="router.url =='/' ">
    <div class="row">
      <div class="col-sm-6 order-2 order-lg-1 order-md-1">
        <h1>Center for Accessible Living</h1>
        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link accordion-title" id="accordionButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Mission
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body accordion-p">
                    The Center for Accessible Living is an innovative leader in empowering all people to achieve their goal of independent
                    living while involving the entire community.
                </div>
              </div>
            </div>
        </div>  

        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link accordion-title" id="accordionButton" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Independent Living
                  </button>
                </h5>
              </div>
          
              <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body accordion-p">
                    “Independent Living does not mean that we want to do everything by ourselves, do not need anybody or like to live in isolation. 
                    Independent Living means that we demand the same choices and control in our every-day lives that our non-disabled brothers and sisters, neighbors and friends take for granted.
                    We want to grow up in our families, go to the neighborhood school, use the same bus as our neighbors; work in jobs that are in line with our education and interests, and raise families of our own. We are profoundly ordinary people sharing the same need to feel included, recognized and loved.”<br>
                    – Dr. Adolf Ratzka
                </div>
              </div>
            </div>
        </div>  
      </div>
      <div class="col-sm-6 order-1 carousel">
        <app-carousel></app-carousel>
      </div>
    </div> 
  </div> 
      <div class="events-container contanier-fluid" *ngIf="router.url =='/' ">
        <div class="row">
          <div class="col-sm fb-box">
            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
                fjs.parentNode.insertBefore(js, fjs);
              }
                (document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-div">
              <h2 class="fb-banner">Follow us on Facebook!</h2>
              <iframe class="fb-plugin" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com/centerforaccessibleliving%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                width="340" height="500" style="border:5px solid #0E0250;;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                allow="encrypted-media"></iframe>
            </div>
          </div>
          <div class="col-sm events-box">
            <div class="inner-events-box">
              <h2 class="events-banner">Upcoming Events</h2>
              <ul>
                <li>
                  <a class="eventsLink" href="/services">Use your Kroger Plus card to earn money for CAL!</a>
                </li>
                <li>
                  <a class="eventsLink" href="/services">100 Ramps built by Ford and UAW Local 862</a>
                </li>
                <li>
                  <a class="eventsLink" href="/services">Supported Services for Veterans and Their Families (SSVF Program) in Western Kentucky</a>
                </li>
                <li>
                  <a class="eventsLink" href="/services">Murray CAL Consumer First in the State to Complete VR Pilot Car Individual Development Account (IDA) Program</a>
                </li>
                <li>
                  <a class="eventsLink" href="/services">Responding to Crime Victims with Disabilities: A Kentucky Resource Guide</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm events-box">
            <div class="inner-events-box">
              <h2 class="events-banner">News</h2>
             <!-- <ul>
                <li>
                  <a class="eventsLink" href="/services">Use your Kroger Plus card to earn money for CAL!</a>
                </li>
                <li>
                  <a class="eventsLink" href="/services">100 Ramps built by Ford and UAW Local 862</a>
                </li>
                <li>
                  <a class="eventsLink" href="/services">Supported Services for Veterans and Their Families (SSVF Program) in Western Kentucky</a>
                </li>
                <li>
                  <a class="eventsLink" href="/services">Murray CAL Consumer First in the State to Complete VR Pilot Car Individual Development Account (IDA) Program</a>
                </li>
                <li>
                  <a class="eventsLink" href="/services">Responding to Crime Victims with Disabilities: A Kentucky Resource Guide</a>
                </li>
              </ul>
              -->
              <ul>
                <li  *ngFor="let event of events">
                  <a class="eventsLink" href="/">{{ event.name }} {{ event.eventDate }}</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    
  

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


  <div class="navbar navbar-default fixed-bottom footer">
    <div class="container-fluid">

      <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-outline-success btn btn-block donate-btn">
        <span class="glyphicon glyphicon-star"></span> Donate!!</a>

      <p class="navbar-text footer-caption">©2018 Center for Accessible Living
        <a href="#" target="_blank">
          <img class="footerLogo" src="../assets/images/logo-footer.png" alt="Center for Accessible Living Logo">
        </a>
      </p>
    </div>


  </div>
</div>