.calendar-container-1 {
    padding-top: 250px;
    padding-bottom: 270px;
    margin-bottom: 50px;
}

.calendar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    border: 5px solid whitesmoke;
    box-shadow: 10px 10px 5px #0E0250;
    
}


h1 {
    font-size: 45px;
    margin-top: 150px;
    margin-bottom: 75px;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Anton', sans-serif;
    color: #1AAF2F;
    text-shadow: -1px 0 #0E0250, 0 1px #0E0250, 1px 0 #0E0250, 0 -1px #0E0250;
    text-align: center;
    border: 5px solid whitesmoke;
    border-radius: 25px;
    background-color: gray;
    box-shadow: 10px 10px 5px #0E0250;
}

.events-box {
    justify-content: center;
}

