<h1>Calendar/Events</h1>
<div class="row">
    <div class="col calendar-container-1">

            <iframe class="calendar" src="https://calendar.google.com/calendar/embed?showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffcc00&amp;src=nickmath21%40gmail.com&amp;color=%23528800&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FNew_York" 
            style="border:solid 5px whitesmoke" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>