/**/

.navLogo {
    float: left;
    margin-top: 5px;
    margin-right: 25px;
    width: 100px;
    height: 75px;
    border-radius: 3%;
    box-shadow: 10px 10px  #36454f;
}

.fade {
    background: #1AAF2F;
    opacity: 0.8;
}

.navbar {
    background-color: #1AAF2F;
    border-left: 5px solid #0E0250;
    border-right: 5px solid #0E0250;
    border-bottom: 5px solid #0E0250
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #1AAF2F;
}


a.nav-link:link {
    color: #0E0250;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

a.nav-link:hover {
    background-color: #0E0250;
    border-radius: 50%;
    box-shadow: 5px 5px  #36454f
}

.search-btn {
    color: #0E0250;
    background-color: #36454f;
}

.active {
    color: #36454f;
}

  

@media only screen and (max-width: 990px) {

    a.nav-link:link {
        color: #0E0250;
        font-family: 'Anton', sans-serif;
        font-size: 16px;
    }

    a.nav-link:hover {
        background-color: #0E0250;
        border-radius: 0%;
        box-shadow: 5px 5px  #36454f;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
}


