<!--
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">

      <a class="navbar-brand">
          <img class="navLogo" src="../assets/images/calkyLogo.jpeg" alt="Center for Accessible Living Logo">
      </a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/aboutus">About Us</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/services">Services</a></li>
      </ul>
      <form class="search form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  
</nav>

-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span class="fade"></span>
                <img class="navLogo" src="../assets/images/calkyLogo.jpeg" alt="Center for Accessible Living">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/calendar">Calendar/Events</a>
             </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit">Search</button>
          </form>
        </div>
    </div>  
</nav>
